table{
    width: 70%;
    background-color: background;
    border: solid #c0c0c0 1px;
    padding: 10px;
    
}

*{
    margin: 0 auto
}

th{
    font-family: Arial, sans-serif;
    background-color: #003366;
    color: white;
    text-align: left;
    padding: 5px 10px;
   
}

td{
    border: solid #003366;
    padding: 5px 10px;    
}